# Import Pandas

In [1]:
import pandas as pd

# Import data

In [11]:
names=['Id','Title','Year','Rating','Voting','Duration','Gonre']
data=pd.read_csv('imdb_top_10000.txt',sep='\t',index_col=0,names=names)

# Explore data

### data.head() gives us first five elements

In [ ]:
data.head()

### data.head(n) gives first n elements

In [14]:
data.head(8)

,Title,Year,Rating,Voting,Duration,Gonre
Id,,,,,,
tt0111161,The Shawshank Redemption (1994),1994,9.2,619479,142 mins.,Crime|Drama
tt0110912,Pulp Fiction (1994),1994,9.0,490065,154 mins.,Crime|Thriller
tt0137523,Fight Club (1999),1999,8.8,458173,139 mins.,Drama|Mystery|Thriller
tt0133093,The Matrix (1999),1999,8.7,448114,136 mins.,Action|Adventure|Sci-Fi
tt1375666,Inception (2010),2010,8.9,385149,148 mins.,Action|Adventure|Sci-Fi|Thriller
tt0109830,Forrest Gump (1994),1994,8.7,368994,142 mins.,Comedy|Drama|Romance
tt0169547,American Beauty (1999),1999,8.6,338332,122 mins.,Drama
tt0499549,Avatar (2009),2009,8.1,336855,162 mins.,Action|Adventure|Fantasy|Sci-Fi

In [15]:
data.head(10005)

,Title,Year,Rating,Voting,Duration,Gonre
Id,,,,,,
tt0111161,The Shawshank Redemption (1994),1994,9.2,619479,142 mins.,Crime|Drama
tt0110912,Pulp Fiction (1994),1994,9.0,490065,154 mins.,Crime|Thriller
tt0137523,Fight Club (1999),1999,8.8,458173,139 mins.,Drama|Mystery|Thriller
tt0133093,The Matrix (1999),1999,8.7,448114,136 mins.,Action|Adventure|Sci-Fi
tt1375666,Inception (2010),2010,8.9,385149,148 mins.,Action|Adventure|Sci-Fi|Thriller
...,...,...,...,...,...,...
tt0807721,Meduzot (2007),2007,7.0,1357,78 mins.,Drama
tt0339642,Daltry Calhoun (2005),2005,5.2,1357,100 mins.,Comedy|Drama|Music|Romance
tt0060880,The Quiller Memorandum (1966),1966,6.5,1356,104 mins.,Drama|Mystery|Thriller
tt0152836,Taal (1999),1999,6.5,1356,179 mins.,Musical|Romance
tt0279977,The Navigators (2001),2001,6.9,1356,96 mins.,Comedy|Drama

### data.tail() gives five elements from last

In [16]:
data.tail()

,Title,Year,Rating,Voting,Duration,Gonre
Id,,,,,,
tt0807721,Meduzot (2007),2007,7.0,1357,78 mins.,Drama
tt0339642,Daltry Calhoun (2005),2005,5.2,1357,100 mins.,Comedy|Drama|Music|Romance
tt0060880,The Quiller Memorandum (1966),1966,6.5,1356,104 mins.,Drama|Mystery|Thriller
tt0152836,Taal (1999),1999,6.5,1356,179 mins.,Musical|Romance
tt0279977,The Navigators (2001),2001,6.9,1356,96 mins.,Comedy|Drama

In [17]:
data.tail(8)

,Title,Year,Rating,Voting,Duration,Gonre
Id,,,,,,
tt0339727,Stateside (2004),2004,5.8,1358,97 mins.,Drama|Music|Romance
tt0218581,Scarlet Diva (2000),2000,5.2,1358,91 mins.,Drama
tt0118635,Aprile (1998),1998,6.7,1358,78 mins.,Comedy
tt0807721,Meduzot (2007),2007,7.0,1357,78 mins.,Drama
tt0339642,Daltry Calhoun (2005),2005,5.2,1357,100 mins.,Comedy|Drama|Music|Romance
tt0060880,The Quiller Memorandum (1966),1966,6.5,1356,104 mins.,Drama|Mystery|Thriller
tt0152836,Taal (1999),1999,6.5,1356,179 mins.,Musical|Romance
tt0279977,The Navigators (2001),2001,6.9,1356,96 mins.,Comedy|Drama

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, tt0111161 to tt0279977
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Title     10000 non-null  object
 1   Year      10000 non-null  int64
 2   Rating    10000 non-null  float64
 3   Voting    10000 non-null  int64
 4   Duration  10000 non-null  object
 5   Gonre     9999 non-null   object
dtypes: float64(1), int64(2), object(3)
memory usage: 546.9+ KB

### data describe only works on int and float

In [20]:
data.describe()

               Year        Rating         Voting
count  10000.000000  10000.000000   10000.000000
mean    1993.472800      6.386070   16604.012800
std       14.829924      1.189933   34563.459698
min     1950.000000      1.500000    1356.000000
25%     1986.000000      5.700000    2333.750000
50%     1998.000000      6.600000    4980.500000
75%     2005.000000      7.200000   15277.750000
max     2011.000000      9.200000  619479.000000

In [23]:
top_kannada_movies=pd.read_csv('Top kannada movies.csv',index_col=0)

In [24]:
top_kannada_movies.head(10)

,Const,Created,Modified,Description,Title,URL,Title Type,IMDb Rating,Runtime (mins),Year,Genres,Num Votes,Release Date,Directors
Position,,,,,,,,,,,,,,
1,tt3394420,2018-12-29,2018-12-29,NaN,Ulidavaru Kandanthe,https://www.imdb.com/title/tt3394420/,movie,8.4,154.0,2014,"Crime, Drama, Thriller",6849,2014-03-28,Rakshit Shetty
2,tt7838252,2018-12-29,2018-12-29,NaN,K.G.F: Chapter 1,https://www.imdb.com/title/tt7838252/,movie,8.2,156.0,2018,"Action, Drama",38023,2018-12-20,Prashanth Neel
3,tt2358592,2018-12-29,2018-12-29,NaN,Lucia,https://www.imdb.com/title/tt2358592/,movie,8.3,135.0,2013,"Drama, Sci-Fi, Thriller",11552,2013-07-20,Pawan Kumar
4,tt4432480,2018-12-29,2018-12-29,NaN,RangiTaranga,https://www.imdb.com/title/tt4432480/,movie,8.3,149.0,2015,"Mystery, Thriller",12541,2015-07-03,Anup Bhandari
5,tt4881362,2018-12-30,2018-12-30,NaN,Thithi,https://www.imdb.com/title/tt4881362/,movie,8.2,123.0,2015,Drama,2498,2015-08-10,Raam Reddy
6,tt8602654,2018-12-29,2018-12-29,NaN,"Sarkari. Hi. Pra. Shale Kasaragodu, Koduge: Ra...",https://www.imdb.com/title/tt8602654/,movie,8.6,147.0,2018,Drama,1294,2018-08-23,Rishab Shetty
7,tt3320542,2018-12-29,2018-12-29,NaN,Ugramm,https://www.imdb.com/title/tt3320542/,movie,8.1,132.0,2014,"Action, Crime, Drama",5218,2014-02-21,Prashanth Neel
8,tt4909506,2018-12-29,2018-12-29,NaN,Godhi Banna Sadharana Mykattu,https://www.imdb.com/title/tt4909506/,movie,8.7,144.0,2016,"Drama, Thriller",2617,2016-06-03,Hemanth M. Rao
9,tt2330098,2018-12-29,2018-12-29,NaN,Upendra,https://www.imdb.com/title/tt2330098/,movie,8.8,138.0,1999,"Drama, Thriller",2476,1999-12-31,Upendra
10,tt0986329,2018-12-29,2018-12-29,NaN,Mungaru Male,https://www.imdb.com/title/tt0986329/,movie,8.3,143.0,2006,"Comedy, Music, Romance",2886,2006-12-29,Yograj Bhat